body{
    background: red;

}

#phone{
 width: 100%;
    height: 100px;
    background: #4e94ab;   
}
    #what img{
    margin-left: 440px;
    margin-top:25px;
}
#telefono h3{
   width: 100%;
    height: 30px;
    margin-top: -90px;
    text-align: center;
    font-size: 5vw;
}
#redes{
    background: #4A94AB;
   width: 20%;
    height: 48px;
     margin-top: 1px;
    float: right;
    
}
#image img{

   width: 20%;
    height: 48px;
    margin-top: 1px;
     float: right;
     margin-left: 15px;
  border-radius: 10px;
}
#btn-menu {
    display: none;
}
#banner img{
    width: 100%;
    height: 120px;
    margin-top: 6px;
} 

#banner #titulo h1{
    text-align: center;
    margin-top: -115px;
    font-size: 6vw;
    }
  
#banner1 #slider1, aside{
    display: inline-block;
    vertical-align: top;
}

  #slider1{
    width: 65%;
    margin: 0;
    overflow: hidden;
    margin-top: -32px;
}
 #slider1 ul{
display:flex;
padding: 0;
width: 400%;

animation: cambio 22s infinite alternate linear;
}
#slider1 li{
    width:  100%;
    list-style: none;
}
 #slider1 img{
    width: 100%;
    height: 362px;
    margin-top: -21px;
}
@keyframes cambio {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}
}


    
aside{
    width: 34.7%;
    height: 360px;
background: green;
margin-top: -35px;

}
aside h3{
    margin-top: -95px;
text-align: center;
font-size: 4vw;

}
aside #informacion1 img{
    width: 100%;
    height: 117px;
}

aside h3{
    margin-top: -95px;
text-align: center;
}
aside #informacion2 img{
    width: 100%;
    height: 117px;
    margin-top: -24px;
}
aside h4{
    margin-top: -95px;
text-align: center;
font-size: 4vw;
}
aside #informacion3 img{
    width: 100%;
    height: 117px;
    margin-top: -40px;
}
aside h5{
    margin-top: -95px;
text-align: center;
font-size: 3.8vw;
}
header label {

    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
header label:hover {
     cursor: pointer;
    background-color: yellow;
}
.menu ul {
     background: #4e94ab;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li {
    border-right: 1px solid #fff;
}
.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 20px;
}
#fotos1{
margin-top: 200px;

}

#fotos1 #fotos img{
    margin: 50px;
    width: 17%;
    height:300px;
    margin-right: 50px;
    margin-top: 70px;

}

#slider{
    width: 100%;
    height: 120px;
  background-image: url(https://i.postimg.cc/vBhx0dKJ/logos.png);
    background-size: 100% 100%;

    animation: slider 20s infinite linear;
    margin-top: 60px;
    }

footer{
    width: 100%;
    height: 100px;
    background:  #4E94AB;
    margin-top: 4px;
}
@keyframes slider{
    to{
        background-position: 2000px;
}
}





@media(max-width: 1359px) and (min-width: 1201px){

    body{
        background: blue;
}
    #what img{
    margin-left: 410px;
    margin-top:25px;
}
  #slider1{
    width: 65%;
    margin: 0;
    overflow: hidden;
    margin-top: -32px;
}
  aside{
    width: 34.4%;
    margin-top: -32px;
}
 #slider1 img{
    height: 366px;
    
}
 
#fotos img{
    width: 17%;
margin: 60px;
    margin-right: 30px;
    margin-top: 70px;

}

 #slider{
    width: 100%;
    margin-top: 80px;
   }
}

@media(max-width: 1200px) and (min-width: 992px){
    body{
        background: #DCE40C;
    }
       #what img{
    margin-left: 330px;
    margin-top: 15px;
}
      #slider1{
    width: 65%;
    margin: 0;
    overflow: hidden;
    margin-top: -32px;
}
 #slider1 img{
    margin-top: 20px;
    height: 335px;
    
}


aside{
    width: 34.2%;
    margin-top: 15px;
    
}

aside #informacion1 img{
    width: 100%;
    height: 117px;
    margin-top: -13px;
}

aside h3{
    margin-top: -95px;
text-align: center;
}
aside #informacion2 img{
    width: 100%;
    height: 117px;
    margin-top: 5px;
}
aside h4{
    margin-top: -95px;
text-align: center;
font-size: 4vw;
}
aside #informacion3 img{
    width: 100%;
    height: 100px;
    margin-top: -9px;
}
aside h5{
    margin-top: -95px;
text-align: center;
font-size: 3.8vw;
}



#fotos1{
margin-top: 200px;

}

#fotos1 #fotos img{
    margin: 50px;
    width: 14%;
    height:230px;
    margin-right: 55px;
    margin-top: 70px;

}
}
@media(max-width: 991px) and (min-width: 769px){
    body{
        background: #808168;
    }
    #what img{
    margin-left: 265px;
    margin-top: 20px;
}
#telefono h3{
    margin-top: -82px;
}
    #redes{
        background: #808168;
        margin-top: 20px;
    }
    #redes img{
        margin-top: 10px;
        width: 21%;
        height: 40px;
        margin-left: 20px;
    }
    #banner img{
        margin-top: 8px;
    }
 header label {
        display: block;
        margin: -9px;
        margin-bottom: 28px;
    }
    header label img {
        margin: 2px;
        margin-top: 14px;
    }
    .menu {
        position: absolute;
        background: #4E94AB;
        width: 60%;
        margin-left: -63%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked~.menu {
        margin: 0;
    }
      #slider1{
    width: 100%;
    margin: 0;
    overflow: hidden;
    margin-top: -32px;
}
    #slider1 img{
        margin-top: 25px;
width: 100%;
    
    height: 353px;
    
}
aside{
    width: 100%;
    margin-top: 27px;
}
aside #informacion1 img{
  
    margin-top: -43px;
}

aside h3{
    margin-top: -82px;
}
aside #informacion2 img{
   
    margin-top: 7px;
}
aside h4{
    margin-top: -82px;
}
aside #informacion3 img{
    
    margin-top: -5px;
}
#fotos1{
margin-top: 140px;
}
 #fotos1 #fotos img{
 margin: 60px;
    width: 100%;
    margin-left:  -2px;
   margin-top: 150px;
    height: 1000px;

}

    }
@media(max-width: 768px) and (min-width: 677px){
    body{
        background: #D81616;
}

#what img{
    margin-left: 220px;
    margin-top: 20px;
}
#telefono h3{
    margin-top: -75px;
}
  #redes{
    background: #D81616;
    width: 30%;
        margin-top: 30px;
    }
   #redes img{
    margin-top: 5px;
        width: 20%;
        height: 40px;
    }
     #banner img{
        height: 100px;
        margin-top: 12px;
    }
    #banner #titulo h1{
        margin-top: -80px;
    }
 header label {
        display: block;
        margin: -9px;
        margin-bottom: 28px;
    }
    header label img {
        
        margin-top: 20px;
    }
    .menu {
        position: absolute;
        background: #4E94AB;
        width: 60%;
        margin-left: -63%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
  #btn-menu:checked~.menu {
        margin: 0;
    }
      #slider1{
    width: 100%;
    margin: 0;
    overflow: hidden;
    margin-top: -32px;
}
        #slider1 img{
        margin-top: 12px;

    
}

aside{
    margin-top: -15px;
    width: 100%;
}
aside #informacion1 img{
  height: 60px;
    margin-top: -2px;
}

aside h3{
    margin-top: -52px;
}
aside #informacion2 img{
   height: 60px;
    margin-top: -9px;
}
aside h4{
    margin-top: -52px;
}
aside #informacion3 img{
    height: 60px;
    margin-top: -18px;
}
aside h5{
    margin-top: -52px;
}
#fotos {
    margin: 4px;
    margin-top: -170px;
    background: pink;
    width: 99%;
}
#fotos1 #fotos img{
    height: 900px;
    margin: 2px;
    width: 99.4%;
    margin-top: 90px;
}
}



@media(max-width: 676px) and (min-width: 480px){
    body{
        background: #04C7C5;
}
#phone{
    height: 80px;
}
 #what img{
    margin-top: 10px;
    margin-left: 130px;
}
#telefono h3{
    margin-top: -55px;
    }
 #redes{
    background: #04C7C5;
width: 40%;
        margin-top: 12px;
    }
     #redes img{
    margin-top: 12px;
        width: 20%;
        height: 35px;
        border-radius: 5px;
    }
   #banner img{
    height: 100px;
        margin-top: 10px;
    }
     #banner #titulo h1{
        margin-top: -80px;
    }
    
 header label {
        display: block;
        margin: -9px;
        margin-bottom: 20px;
    }
    header label img {
        
        margin-top: 7px;
    }
    .menu {
        position: absolute;
        background: #4E94AB;
        width: 60%;
        margin-left: -63%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
  #btn-menu:checked~.menu {
        margin: 0;
    }
       #slider1 img{
        width: 100%;
        margin-top: 21px;

    
}
       #slider1 {
        width: 100%;

    
}
aside{
    width: 100%;
    margin-top: -14px;
}
aside #informacion1 img{
  height: 60px;
    margin-top: -2px;
}

aside h3{
    margin-top: -52px;
}
aside #informacion2 img{
   height: 60px;
    margin-top: -2px;
}
aside h4{
    margin-top: -52px;
}
aside #informacion3 img{
    height: 60px;
    margin-top: -10px;
}
aside h5{
    margin-top: -52px;
}
#fotos{
    width: 100%;
    margin-top: -150px;
}
#fotos1 #fotos img{
   margin: 2px;
    width: 99.4%;
    height: 700px;
    margin-top: 90px;
}
#slider{
    margin-top: 34px;
}
}
@media(max-width: 479px) and (min-width: 320px){
    body{
        background: yellow;
}
#phone{

    height: 60px;
    margin-top: 2px;
}
#what img {
    margin-top: 7px;
    margin-left: 60px;
}
#telefono h3{
    color:  white;
    margin-top: -35px;
    }
 #redes{

width: 50%;
background: yellow;
        margin-top: -5px;
    }
     #redes img{
    margin-top: 6px;
        width: 22%;
        height: 40px;
    }

#banner img{
    margin-top: 8px;
    height: 70px;
       
    }
      #banner #titulo h1{
        font-size: 6vw;

        margin-top: -56px;
    }
 header label {
display: none;
        display: block;
        margin: -9px;
        margin-bottom: -2px;
    }
    header label img {
        
        margin-top: -12px;
    }
    .menu {
        position: absolute;
        background: #4E94AB;
        width: 60%;
        margin-left: -63%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
  #btn-menu:checked~.menu {
        margin: 0;
    }
    #slider1{
        width: 100%;
        height: 230px;
        margin-top: 6px;
    }
    aside{
        width: 100%;
        margin-top: -36px;
}
aside #informacion1 img{
  height: 60px;
    margin-top: 5px;
}

aside h3{
    font-size: 9vw;
    margin-top: -48px;
}
aside #informacion2 img{
   height: 60px;
    margin-top: -24px;
}
aside h4{
      font-size: 9vw;
margin-top: -55px;
}
aside #informacion3 img{
    height: 60px;
    margin-top: -30px;
}
aside h5{
     font-size: 9vw;
    margin-top: -55px;
}
#fotos1{
    width: 100%;
    margin-top: 100px;
}
#fotos1 #fotos img{
   margin: 2px;
    width: 99.4%;
    height: 470px;
    margin-top: 80px;
}

#slider{
    height: 95px;
}
}

@media(max-width: 319px) and (min-width: 280px){
    body{
        background: #1AC212;
    }
    #phone{

    height: 70px;
   
}
#what img {
    margin-top: 11px;
    margin-left: 55px;
}

#telefono h3{
    color: white;
    margin-top: -40px;
    }
    #redes{
        background: #1AC212;
    width: 60%;
        margin-top:6px;
    }
       #redes img{
    margin-top: 10px;
        width: 18%;
        height: 28px;
        border-radius: 5px;
    }
    #banner img{
    margin-top: -10px;
    height: 70px;
       
    }
     #banner #titulo h1{
        margin-top: -50px;
    }
    #banner1 #slider1{
        width: 100%;
        height: 200px;
        margin-top: -60px;
    }

     header label {
        display: block;
        margin: -9px;
        margin-bottom: 28px;
    }
    header label img {
        
        margin-top: -5px;
    }
    .menu {
        position: absolute;
        background: #4E94AB;
        width: 60%;
        margin-left: -63%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
  #btn-menu:checked~.menu {
        margin: 0;
    }
       #slider1{
        width: 100%;
        height: 270px;
        margin-top: 25px;
    }
        aside{
        width: 100%;
        margin-top: 4px;
}
aside #informacion1 img{
  height: 60px;
    margin-top:-1px;
}

aside h3{
    font-size: 9vw;
    margin-top: -55px;
}
aside #informacion2 img{
   height: 60px;
    margin-top: -7px;
}
aside h4{
      font-size: 9vw;
    margin-top: -56px;
}

aside #informacion3 img{
    height: 60px;
    margin-top: -14px;
}
aside h5{
     font-size: 9vw;
    margin-top: -55px;
}
}
 #fotos{
    width: 100%;
    margin-top: -200px;
}
#fotos img{
   margin: 2px;
    width: 99.4%;
    height: 400px;
    margin-top: 60px;
}
 #slider{
    height: 85px;
}      
}
